<section class="home-section">
	<div class="panel">
		<!-- <div class="panel-heading text-center"><h1>Welcome to our ecommerce website:</h1></div> -->
		<div class="panel-body">
			<div class="media">
			  <div class="media-center">
			    <a href="#">
			      <%= image_tag 'storm.png', size: '512x200', class: 'media-object' %>
			    </a>
			  </div>
			  <div class="media-body text-left">
			    <h4 class="media-heading"><h1>Welcome to our ecommerce website:</h1></h4>
			    <p>Cupcake ipsum dolor sit amet wafer jelly beans. Halvah marzipan I love pie I love muffin. Bonbon chocolate cake jelly chocolate toffee I love lollipop I love tart. Dragée sweet jelly bonbon jelly cotton candy liquorice icing. Cupcake candy oat cake I love apple pie chocolate bar sweet sweet roll sweet roll. Oat cake biscuit topping. Fruitcake biscuit marshmallow powder. Gummi bears gingerbread lollipop I love biscuit. Cupcake sweet jelly beans croissant fruitcake candy cookie macaroon. Marshmallow danish sugar plum. Sugar plum fruitcake I love halvah. Topping jelly beans cupcake croissant oat cake cotton candy. I love muffin bear claw sweet roll chocolate.</p>
					<p>Ice cream croissant pie. Bear claw fruitcake dessert lemon drops toffee croissant I love croissant. Jujubes candy I love I love chocolate bar I love chocolate cake fruitcake marzipan. Cotton candy cookie liquorice fruitcake cupcake jujubes apple pie sesame snaps cookie. Jujubes caramels I love bonbon. Gummies halvah donut I love. Soufflé jelly donut halvah. Jelly beans halvah tart croissant sesame snaps cupcake. Caramels apple pie liquorice lollipop I love. Bear claw bear claw candy dessert macaroon jelly cake. Sesame snaps chocolate tootsie roll marzipan dragée I love cupcake. Cupcake topping pie candy tart pastry oat cake. Tart croissant soufflé jelly cookie lemon drops marshmallow.</p>
					<p>Powder tiramisu icing jelly beans muffin chupa chups I love biscuit cake. Soufflé lollipop chocolate I love pudding lollipop. Marzipan donut candy canes cookie bonbon tootsie roll ice cream. Dragée powder jelly-o chupa chups chocolate cake marshmallow croissant. Danish marzipan jujubes. Sweet roll gummies I love topping I love jelly bonbon marshmallow. Macaroon sweet marzipan. Cookie I love chupa chups tootsie roll cookie. Chocolate pastry sweet cake I love candy cake I love carrot cake. Jelly caramels lemon drops croissant marzipan candy canes jelly. Sweet roll sesame snaps I love. Dragée marshmallow donut I love danish chupa chups sesame snaps halvah. Icing donut dessert cheesecake ice cream gingerbread liquorice gingerbread I love. Candy pastry toffee sugar plum oat cake wafer muffin biscuit cookie.</p>
			  </div>
			</div>
		</div>
	</div>
</section>
<section class="home-section">
	<div class="panel">
		<div class="panel-heading text-center"><h1>What you'll find around here:</h1></div>
		<div class="panel-body text-left">
		  <div class="media">
			  <div class="media-center">
			    <a href="#">
			      <%= image_tag 'treasure_chest.jpg', size: '256x196' %>
			      <%= image_tag 'eye_patch.png', size: '256x128' %>
			      <%= image_tag 'map.png', size: '200x256' %>
			      <%= image_tag 'hat.jpg', size: '236x236' %>
			    </a>
			  </div>
			  <div class="media-body text-left">
			  	<p>Cupcake ipsum dolor sit amet wafer jelly beans. Halvah marzipan I love pie I love muffin. Bonbon chocolate cake jelly chocolate toffee I love lollipop I love tart. Dragée sweet jelly bonbon jelly cotton candy liquorice icing. Cupcake candy oat cake I love apple pie chocolate bar sweet sweet roll sweet roll. Oat cake biscuit topping. Fruitcake biscuit marshmallow powder. Gummi bears gingerbread lollipop I love biscuit. Cupcake sweet jelly beans croissant fruitcake candy cookie macaroon. Marshmallow danish sugar plum. Sugar plum fruitcake I love halvah. Topping jelly beans cupcake croissant oat cake cotton candy. I love muffin bear claw sweet roll chocolate.</p>
			  </div>
		  </div>
		</div>
	</div>
</section>