<!-- <h1>Listing Products</h1> -->

<% total = 0 %>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">Basket</div>
    <div class="panel-body">
      <% if @products.count > 0 %>
        <% @products.each do |product| %>
          <div class="col-sm-4 col-md-3">
            <div class="panel panel-primary thumbnail">
              <%= image_tag product.url, size: '242x200' %>
              <div class="caption">
                <% total += product.price %>
                <h3><%= product.name %></h3>
                <p><%= product.price %> $</p>
                <p>
                  <%= link_to "Info", product, class: "btn btn-primary" %>
                  <!-- <a href="#" class="btn btn-warning" role="button">Add to basket</a> -->
                  <%= link_to "Remove", product_remove_from_basket_path(product), class: "btn btn-danger" %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-xs-12 text-right">Total: <strong><%= total %></strong> $</div>
      <% else %>
        <h3>There is nothing in your basket!</h3>
      <% end %>
    </div>
  </div>
</div>
<div class="row text-center">
  <% if @products.count > 0 %>
    <%= link_to "Proceed to checkout", products_path, class: "btn btn-primary" %>
  <% end %>
</div>