<!-- <h1>Listing Products</h1> -->

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">Gallery</div>
    <div class="panel-body">
      <!-- <div class="form-horizontal col-xs-12 text-center">
        <label class="label-control col-xs-2">Show Products in:</label>
        <div class="col-xs-10">
        <select class="col-xs-6">
          <option>Electronics</option>
          <option>Outdoor</option>
        </select>
        </div>
      </div> -->
      <br>
      <br>
      <% @products.each do |product| %>
        <div class="col-sm-4 col-md-3">
          <div class="panel panel-primary thumbnail">
            <%= image_tag product.url, size: '242x200' %>
            <div class="caption">
              <h3><%= product.name %></h3> <p><%= product.price %> $</p>
              <p><%= product.description %></p>
              <p>
                <%= link_to "Info", product, class: "btn btn-primary" %>
                <%= link_to "Add to basket", product_add_to_basket_path(product), class: "btn btn-warning" %>
                <!-- <a href="#" class="btn btn-warning" role="button">Add to basket</a> -->
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row text-center">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>