<!DOCTYPE html>
<html>
	<head>
	  <title>Ecommerce</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div class="mywrapper">
			<div id="main-container" class="container">
			  <div class="row">
			    <div class="col-md-12">
			    	<%= render 'shared/flash_messages' %>
			    	<div style="margin-bottom: 20px;">
				    	<%= render 'shared/navigation' %>
			    	</div>
			      <%= yield %>
			    </div>
			  </div>
			</div>
		</div>

	</body>
</html>
